 h1 {
  color: #9966ff;
  border-style: double;
  border-width: 5px;
}
#likes {
  font-family: monospace;
  font-size: 18px
}
#bio{
  font-family: monospace;
  font-size: 18px
}
#funfact2{
  font-family: monospace;
}
#funfact{
  font-family: monospace;
  font-size: 18px
}
#aboutme {
  font-family: monospace;
}
 #list {
  font-family: monospace;
  font-size: ;
}
#dislikes{
  font-family: monospace;
  font-size: 18px
}
#list2{
  font-family: monospace;
}
#links{
  font-family: monospace;
  font-size: 18px
}
#photo{
  width: 60px
  height: 60px
}
#linklist{
  font-family: monospace;
}
#photo2{
  font-family: monospace;
  font-size: 18px
}
#table{
  font-family: monospace;
}
#table1{
  font-family: monospace;
  font-size: 18px
}
